

<h3><%= @team.name %></h3>
<% @team.players.each do |player| %>
  <li><%= link_to player.name, player_path(player.id)%></li>
<% end %>

<p>Win: <%= @team.wins %></p>
<p>Losses: <%= @team.losses %></p>

<button><%= link_to "Back to Teams", teams_path %></button><br>

<button><%= link_to "Edit Team", edit_team_path  %></button><br>

<%= button_to 'Disband Team', team_path(@team), method: :delete %>
