
<h3 style="color:blue;">Player Name: <%= @player.name %></h3>
<h3 style="color:blue;">Team: <%= @player.team.name %></h3>


<br>

<button><%= link_to "Change Team", edit_player_path  %></button>
<br><br>
<%= button_to 'Retire', player_path(@player), method: :delete  %><br><br>
<button><%= link_to "Back to Players", players_path %></button>&nbsp&nbsp&nbsp<button><%= link_to 'Home', home_path %></button>
